<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.staticfile.org/jquery/1.10.0/jquery.min.js"></script>
    <title>todolist</title>
    <link rel="stylesheet" href="assets/styles.css" type="text/css">
    <script src="assets/todo-list.js"></script>
</head>

<body>
    <div id="todo-table">
        <form action="">
            <input type="text" name="item" placeholder="输入任务" required />
            <button type="submit">提交</button>
        </form>
        <ul>
            <% todos.forEach(function(todo){ %>

            <li>
                <%= todo.item  %>
            </li>

            <% })  %>


        </ul>
    </div>
</body>

</html>